<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<real>14</real>
		<key>Key</key>
		<string>fontSize</string>
		<key>MinimumValue</key>
		<real>6</real>
		<key>Title</key>
		<string>Font Size</string>
		<key>Type</key>
		<string>Slider</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>33</real>
		<key>Key</key>
		<string>textWidth</string>
		<key>MaximumValue</key>
		<real>90</real>
		<key>MinimumValue</key>
		<real>10</real>
		<key>Title</key>
		<string>Text Width</string>
		<key>Type</key>
		<string>Slider</string>
	</dict>
</array>
</plist>
